@use '../helper/index' as H;

.banner{
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
#sanpham{
    form {
        select{
           padding: 0 2rem;
           font-size: 1.7rem;
           @include H.responsive('md'){
            font-size: 1.2rem;
            padding: 0;
        }
        }
    }
}