.list-product{
    display: flex;
    gap: 1.7rem;
    flex-wrap: wrap;
    .list-product__item{
        width: 24%;
        padding: 0.5rem 0;
        background-color: white;
        text-align: center;
        .product-item__img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        .product-item__bottom{
            h3{
                font-size: 1.7rem;
            }
            p{
                font-size: 1.7rem;
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                background-image: linear-gradient( to right,  red,  rgb(243, 75, 103)); 
            }
            button{
                width: 50%;
                font-size: 1.6rem;
            }
        }
    }


}