.modal-content {
  .modal-header {
    font-size: 1.6rem;
  }
  .modal-body {
    input {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
    span {
      font-size: 1.6rem;
      margin-top: 0.9rem;
    }
  }
  .modal-footer {
    button {
      font-size: 1.6rem;
    }
  }
}
